body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    scroll-snap-align: start;
}

@keyframes anim {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.one h1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: anim 8s alternate;
    font-size: 80px;
    color: #171717;
}

.two {
    height: 100vh;
    color: #171717;
}


/* Phone */
@media only screen and (max-width: 768px) {
    .one h1{
        font-size: 40px;
    }
    
  }